@import './utils/variable';
@import './base/font';
@import './utils/loading';
@import './utils/animation';
@import './utils/transition';
@import './layout/header';
@import './pages/accueil';
@import './layout/footer';
@import './pages/restaurants';
@import './composants/exploreButton';



html {
    font-family: "Roboto","Shrikhand","Sans serif";
    width: 100%;
    margin:auto;
}
body{
    margin: auto; 
 }

