@keyframes transition {
    0%   { margin-top: 20px; opacity: 0;}
    25% { margin-top: 15px; opacity: 0.2;}
    100% { margin-top: 10px; opacity: 1;}
}

.starter.meals:nth-child(1)
{
    animation-delay: 0.1s;
}
.starter.meals:nth-child(2)
{
    animation-delay: 0.5s;
}
.starter.meals:nth-child(3)
{
    animation-delay: 1s;
}
.starter.meals:nth-child(4)
{
    animation-delay: 4s;
}

.dish.meals:nth-child(1)
{
    animation-delay: 2s;
}
.dish.meals:nth-child(2)
{
    animation-delay: 2.5s;
}
.dish.meals:nth-child(3)
{
    animation-delay: 3s;
}


.dessert.meals:nth-child(1)
{
    animation-delay:3.5s;
}
.dessert.meals:nth-child(2)
{
    animation-delay:4s;
}
.dessert.meals:nth-child(3)
{
    animation-delay:4.5s;
}