@keyframes transition {
    0%   { margin-top: 20px; opacity: 0;}
    25% { margin-top: 15px; opacity: 0.2;}
    100% { margin-top: 10px; opacity: 1;}
}

.starter .meals:nth-child(2)
{
    animation-delay: 0.1s;
}
.starter .meals:nth-child(3)
{
    animation-delay: 0.3s;
}
.starter .meals:nth-child(4)
{
    animation-delay: 0.5s;
}

.starter .meals:nth-child(5)
{
    animation-delay: 0.7s;
}


.dish .meals:nth-child(2)
{
    animation-delay: 0.9s;
}
.dish .meals:nth-child(3)
{
    animation-delay: 1.1s;
}
.dish .meals:nth-child(4)
{
    animation-delay: 1.3s;
}


.dessert .meals:nth-child(2)
{
    animation-delay:1.5s;
}
.dessert .meals:nth-child(3)
{
    animation-delay:1.7s;
}
.dessert .meals:nth-child(4)
{
    animation-delay:1.9s;
}